[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/sahchandler/snipmate.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooseloose/nerdtree.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/fugitive.git
[submodule "vim/bundle/flux"]
	path = vim/bundle/flux
	url = git://github.com/sahchandler/vim-flux.git
